
body {



  background: linear-gradient(to bottom, #fafafa, #c8c8c8);
  display: flex;
  justify-content: center;
  align-items: center;
}


.body-container {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
  min-width: 1000px;

  display: flex;
  flex-direction: column;


}


.horiozntal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navigation-container {
  background: linear-gradient(to bottom, #91c73d, #70b326);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 30px;
}

.non-page-section {
  display: flex;
  flex-direction: row;
  gap: 10px;

  align-items: center;
  justify-content: center;
}


.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: white;
}

.product-photo {
  height: 65px;
}


.footer {
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, #454545, #2b2b2b);
  color: #c1c1c1;
  align-items: center;
}


a {
  color: white;
  text-decoration: none;
}
.body-container a:hover {
  color: #daff97;
}

.horiozntal-container a:hover {
  color: #91c73d;
}

.horiozntal-container a {
  color: #a8a8a8;
}

#pfp {
  height: 50px;
}



.price-box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.button-box {
  display: flex;
  gap: 5px;
}


.product-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: solid 1px #c1c1c1;
}

.description-box {
  flex: 1;
 margin-right: 30px;
  margin-left: 10px;
}

.empty-box {
  min-height: 300px;
  display: flex;
  align-items: center;
}